/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -------------------------------- */

.container-generator {
    max-width: 550px;
    background-color: #1F2937;
    color: white;
    margin: 50px auto;
    font-family: 'Inter', sans-serif;
}

.header-generator {
    display: flex;
    justify-content: center;
    height: 90px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}


#input-color {
    width: 61px;
    height: 42px;
    padding: 0px;
    border: 4px solid #E5E5E5;
    margin-right: 12px;
}

#color-mode {
    background-color: #1F293A;
    color: #D5D4D8;
    width: 312px;
    height: 42px;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 0 13px;
    margin-right: 13px;
}

#color-fetch {
    width: 123px;
    height: 40px;
    background: #3D4B60;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
    box-shadow: 0 2px #999;
}

#color-fetch:active {
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

#color-list {
    display: flex;
}

#color-list img {
    height: 414px;
    max-width: 110px
}

#color-list h5 {
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    color: #D5D4D8;
    padding: 8px 0;
}